<div class="login-wrapper vh-100 d-flex justify-content-center align-items-center">

  <div class="card login-card p-4 shadow-lg border-0">
    <h4 class="text-center mb-4 fw-bold">Login</h4>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">

      <div class="mb-3">
        <input
          class="form-control custom-input"
          placeholder="Email address"
          formControlName="email" />
      </div>

      <div class="mb-3">
        <input
          class="form-control custom-input"
          type="password"
          placeholder="Password"
          formControlName="password" />
      </div>

      <button type="submit" class="btn btn-primary w-100 custom-btn">
        Login
      </button>

      <p class="mt-4 text-center small">
        Not Registered Yet ?
        <a routerLink="/auth/register" class="fw-bold text-decoration-none">
          Sign Up
        </a>
      </p>

    </form>
  </div>

</div>
