.modern-user-card {
  border-radius: 14px;
}

.modern-table thead {
  background: #f8fafc;
  font-weight: 600;
}

.modern-table th {
  border-bottom: 1px solid #e5e7eb;
}

.table-row-hover:hover {
  background-color: #f9fafb;
  transition: 0.2s;
}

.badge.bg-success-subtle {
  background: #dcfce7;
}

.badge.bg-danger-subtle {
  background: #fee2e2;
}
